:root{
    /* primary color */
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);  
    /* Neutral color */
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    /* Typography */
    --paragraph: 16px;
}

/* Custom font */
@font-face {
    font-family:'RedHatDisplay Black';
    src: url('fonts/RedHatDisplay-Black.ttf');
}
@font-face {
    font-family:'RedHatDisplay Bold';
    src: url('fonts/RedHatDisplay-Bold.ttf');
}
@font-face {
    font-family:'RedHatDisplay Medium';
    src: url('fonts/RedHatDisplay-Medium.ttf');
}


 /* Box sizing rules */
 *,
 *::before,
 *::after {
   margin:0;
   padding: 0;
   box-sizing:border-box;
 }
 
 /* Remove default margin */
 body,
 h1,
 h2,
 h3,
 h4,
 p,
 button {
   margin: 0;
 }

 h1{
    text-align: center;
    font-family:'RedHatDisplay Bold', 'sans serif' ;
    color:var(--Dark-blue);
    padding-bottom: 20px;
 }
 p#para{
    text-align: center;
    font-family:'RedHatDisplay Medium', 'sans serif' ;
    color:var(--Desaturated-blue);
    font-size: 16px;
    padding-bottom:10px;
 }
 

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }

body{
    background-image: url('images/pattern-background-mobile.svg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: inherit; 
    background-color: var(--Pale-blue);
}

.container{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.card{
    background-color: var(--Very-pale-blue);
    width:90vw;
    max-width:380px;
    /* height:380px; */
    box-sizing: border-box;
    padding:30px 30px 20px 30px ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
img{
    object-fit: cover;
    max-width: 340px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.middle{
display:flex;
align-items: center;
justify-content: space-between;
background-color:  hsla(225, 100%, 94%, 0.368);
border-radius: 15px;
box-sizing: border-box;
padding: 15px;
margin:20px 0px;
width: 100%;
}
#icon{
    width:50px;
}
p#plan{
    /* color:var(--Bright-blue); */
    font-family:'RedHatDisplay Black';
}
span{
    font-family:'RedHatDisplay Medium', 'sans serif' ;
    color:var(--Desaturated-blue);
}
a{
    font-family:'RedHatDisplay Bold', 'sans serif' ;
    color:var(--Bright-blue);
}
a:hover{
    color:hsl(245, 73%, 60%); 
    text-decoration: none;
}

button{
    text-align: center;
    padding:15px;
    height:59px;
    width:100%;
    border-radius: 15px;
    border:none;
    background-color: var(--Bright-blue);
    color:var(--Very-pale-blue);
    font-family:'RedHatDisplay Bold', 'sans serif' ;
    font-size: var(--paragraph);
    box-shadow:1px 20px 11px 1px hsl(225, 96%, 91%);
    margin:10px 0px;
}
button:hover{
    background-color:hsl(245, 73%, 60%); 
    cursor: pointer;
}
    
p#cancel-text{
    text-align: center;
    padding-top:18px;
    font-family:'RedHatDisplay Bold', 'sans serif' ;
    color:var(--Desaturated-blue);
}
p#cancel-text:hover{
    color:var(--Dark-blue);
    cursor: pointer;
}
@media only screen and (min-width:576px){
    body{
        background-image: url('images/pattern-background-desktop.svg') !important;
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: inherit; 

    }
    p#para{
        text-align: center;
        font-family:'RedHatDisplay Medium', 'sans serif' ;
        color:var(--Desaturated-blue);
        font-size: 16px;
        padding-bottom:10px;
     }
} 



